{
  "openapi": "3.1.0",
  "info": {
    "title": "GitHub REST API",
    "version": "1.0.0",
    "description": "Subset of the GitHub REST API for public data access"
  },
  "servers": [
    { "url": "https://api.github.com" }
  ],
  "paths": {
    "/users/{user}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get a user by username",
        "parameters": [
          { "name": "user", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "A GitHub user",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/User" }
              }
            }
          },
          "404": { "description": "User not found" }
        }
      }
    },
    "/users/{user}/repos": {
      "get": {
        "operationId": "getUserRepos",
        "summary": "List repositories for a user",
        "parameters": [
          { "name": "user", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "type", "in": "query", "schema": { "type": "string", "enum": ["all", "owner", "member"], "default": "owner" } },
          { "name": "sort", "in": "query", "schema": { "type": "string", "enum": ["created", "updated", "pushed", "full_name"], "default": "full_name" } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 30, "maximum": 100 } },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } }
        ],
        "responses": {
          "200": {
            "description": "List of repositories",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Repository" } }
              }
            }
          }
        }
      }
    },
    "/repos/{owner}/{repo}": {
      "get": {
        "operationId": "getRepo",
        "summary": "Get a repository",
        "parameters": [
          { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "A repository",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Repository" }
              }
            }
          },
          "404": { "description": "Repository not found" }
        }
      }
    },
    "/repos/{owner}/{repo}/commits": {
      "get": {
        "operationId": "listCommits",
        "summary": "List commits on a repository",
        "parameters": [
          { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "sha", "in": "query", "schema": { "type": "string" }, "description": "SHA or branch to list commits from" },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 30, "maximum": 100 } },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } }
        ],
        "responses": {
          "200": {
            "description": "List of commits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Commit" }
                }
              }
            }
          }
        }
      }
    },
    "/repos/{owner}/{repo}/issues": {
      "get": {
        "operationId": "listIssues",
        "summary": "List issues for a repository",
        "parameters": [
          { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "state", "in": "query", "schema": { "type": "string", "enum": ["open", "closed", "all"], "default": "open" } },
          { "name": "sort", "in": "query", "schema": { "type": "string", "enum": ["created", "updated", "comments"], "default": "created" } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 30, "maximum": 100 } },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } }
        ],
        "responses": {
          "200": {
            "description": "List of issues",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Issue" }
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org}": {
      "get": {
        "operationId": "getOrg",
        "summary": "Get an organization",
        "parameters": [
          { "name": "org", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "An organization",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Organization" }
              }
            }
          },
          "404": { "description": "Organization not found" }
        }
      }
    },
    "/orgs/{org}/repos": {
      "get": {
        "operationId": "listOrgRepos",
        "summary": "List organization repositories",
        "parameters": [
          { "name": "org", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "type", "in": "query", "schema": { "type": "string", "enum": ["all", "public", "private", "forks", "sources", "member"], "default": "all" } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 30, "maximum": 100 } },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } }
        ],
        "responses": {
          "200": {
            "description": "List of repositories",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Repository" } }
              }
            }
          }
        }
      }
    },
    "/gists/public": {
      "get": {
        "operationId": "listPublicGists",
        "summary": "List public gists",
        "parameters": [
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 30, "maximum": 100 } },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } }
        ],
        "responses": {
          "200": {
            "description": "List of public gists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Gist" }
                }
              }
            }
          }
        }
      }
    },
    "/search/repositories": {
      "get": {
        "operationId": "searchRepositories",
        "summary": "Search repositories",
        "parameters": [
          { "name": "q", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Search query" },
          { "name": "sort", "in": "query", "schema": { "type": "string", "enum": ["stars", "forks", "help-wanted-issues", "updated"] } },
          { "name": "order", "in": "query", "schema": { "type": "string", "enum": ["asc", "desc"], "default": "desc" } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 30, "maximum": 100 } },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": { "type": "integer" },
                    "incomplete_results": { "type": "boolean" },
                    "items": { "type": "array", "items": { "$ref": "#/components/schemas/Repository" } }
                  },
                  "required": ["total_count", "incomplete_results", "items"]
                }
              }
            }
          }
        }
      }
    },
    "/search/users": {
      "get": {
        "operationId": "searchUsers",
        "summary": "Search users",
        "parameters": [
          { "name": "q", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Search query" },
          { "name": "sort", "in": "query", "schema": { "type": "string", "enum": ["followers", "repositories", "joined"] } },
          { "name": "order", "in": "query", "schema": { "type": "string", "enum": ["asc", "desc"], "default": "desc" } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 30, "maximum": 100 } },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": { "type": "integer" },
                    "incomplete_results": { "type": "boolean" },
                    "items": { "type": "array", "items": { "$ref": "#/components/schemas/User" } }
                  },
                  "required": ["total_count", "incomplete_results", "items"]
                }
              }
            }
          }
        }
      }
    },
    "/search/code": {
      "get": {
        "operationId": "searchCode",
        "summary": "Search code",
        "parameters": [
          { "name": "q", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Search query" },
          { "name": "sort", "in": "query", "schema": { "type": "string", "enum": ["indexed"] } },
          { "name": "order", "in": "query", "schema": { "type": "string", "enum": ["asc", "desc"], "default": "desc" } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 30, "maximum": 100 } },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": { "type": "integer" },
                    "incomplete_results": { "type": "boolean" },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": { "type": "string" },
                          "path": { "type": "string" },
                          "sha": { "type": "string" },
                          "url": { "type": "string", "format": "uri" },
                          "html_url": { "type": "string", "format": "uri" },
                          "repository": { "$ref": "#/components/schemas/Repository" },
                          "score": { "type": "number" }
                        },
                        "required": ["name", "path", "sha"]
                      }
                    }
                  },
                  "required": ["total_count", "incomplete_results", "items"]
                }
              }
            }
          }
        }
      }
    },
    "/rate_limit": {
      "get": {
        "operationId": "getRateLimit",
        "summary": "Get rate limit status",
        "responses": {
          "200": {
            "description": "Rate limit information",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RateLimit" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "login": { "type": "string" },
          "id": { "type": "integer" },
          "avatar_url": { "type": "string", "format": "uri" },
          "url": { "type": "string", "format": "uri" },
          "html_url": { "type": "string", "format": "uri" },
          "type": { "type": "string", "enum": ["User", "Organization", "Bot"] },
          "name": { "type": ["string", "null"] },
          "company": { "type": ["string", "null"] },
          "blog": { "type": ["string", "null"] },
          "location": { "type": ["string", "null"] },
          "email": { "type": ["string", "null"], "format": "email" },
          "bio": { "type": ["string", "null"] },
          "public_repos": { "type": "integer" },
          "public_gists": { "type": "integer" },
          "followers": { "type": "integer" },
          "following": { "type": "integer" },
          "created_at": { "type": "string", "format": "date-time" }
        },
        "required": ["login", "id", "avatar_url", "url", "html_url", "type"]
      },
      "Repository": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "full_name": { "type": "string" },
          "owner": { "$ref": "#/components/schemas/User" },
          "private": { "type": "boolean" },
          "html_url": { "type": "string", "format": "uri" },
          "description": { "type": ["string", "null"] },
          "fork": { "type": "boolean" },
          "url": { "type": "string", "format": "uri" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" },
          "pushed_at": { "type": "string", "format": "date-time" },
          "homepage": { "type": ["string", "null"] },
          "size": { "type": "integer", "description": "Size in KB" },
          "stargazers_count": { "type": "integer" },
          "watchers_count": { "type": "integer" },
          "language": { "type": ["string", "null"] },
          "forks_count": { "type": "integer" },
          "open_issues_count": { "type": "integer" },
          "default_branch": { "type": "string" },
          "topics": { "type": "array", "items": { "type": "string" } }
        },
        "required": ["id", "name", "full_name", "owner", "private", "html_url", "fork", "url"]
      },
      "Commit": {
        "type": "object",
        "properties": {
          "sha": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "html_url": { "type": "string", "format": "uri" },
          "commit": {
            "type": "object",
            "properties": {
              "message": { "type": "string" },
              "author": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "email": { "type": "string", "format": "email" },
                  "date": { "type": "string", "format": "date-time" }
                },
                "required": ["name", "email", "date"]
              },
              "committer": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "email": { "type": "string", "format": "email" },
                  "date": { "type": "string", "format": "date-time" }
                },
                "required": ["name", "email", "date"]
              }
            },
            "required": ["message", "author", "committer"]
          },
          "author": { "$ref": "#/components/schemas/User" },
          "committer": { "$ref": "#/components/schemas/User" }
        },
        "required": ["sha", "url", "commit"]
      },
      "Issue": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "number": { "type": "integer" },
          "title": { "type": "string" },
          "state": { "type": "string", "enum": ["open", "closed"] },
          "user": { "$ref": "#/components/schemas/User" },
          "body": { "type": ["string", "null"] },
          "labels": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "integer" },
                "name": { "type": "string" },
                "color": { "type": "string" },
                "description": { "type": ["string", "null"] }
              },
              "required": ["id", "name", "color"]
            }
          },
          "assignee": { "$ref": "#/components/schemas/User" },
          "comments": { "type": "integer" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" },
          "closed_at": { "type": ["string", "null"], "format": "date-time" },
          "html_url": { "type": "string", "format": "uri" }
        },
        "required": ["id", "number", "title", "state", "user", "created_at", "updated_at"]
      },
      "Organization": {
        "type": "object",
        "properties": {
          "login": { "type": "string" },
          "id": { "type": "integer" },
          "url": { "type": "string", "format": "uri" },
          "avatar_url": { "type": "string", "format": "uri" },
          "description": { "type": ["string", "null"] },
          "name": { "type": ["string", "null"] },
          "company": { "type": ["string", "null"] },
          "blog": { "type": ["string", "null"] },
          "location": { "type": ["string", "null"] },
          "email": { "type": ["string", "null"], "format": "email" },
          "public_repos": { "type": "integer" },
          "public_gists": { "type": "integer" },
          "followers": { "type": "integer" },
          "following": { "type": "integer" },
          "html_url": { "type": "string", "format": "uri" },
          "created_at": { "type": "string", "format": "date-time" },
          "type": { "type": "string" }
        },
        "required": ["login", "id", "url", "avatar_url"]
      },
      "Gist": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "html_url": { "type": "string", "format": "uri" },
          "description": { "type": ["string", "null"] },
          "public": { "type": "boolean" },
          "owner": { "$ref": "#/components/schemas/User" },
          "files": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "filename": { "type": "string" },
                "type": { "type": "string" },
                "language": { "type": ["string", "null"] },
                "raw_url": { "type": "string", "format": "uri" },
                "size": { "type": "integer" }
              },
              "required": ["filename", "type", "raw_url", "size"]
            }
          },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        },
        "required": ["id", "url", "html_url", "public", "files"]
      },
      "RateLimit": {
        "type": "object",
        "properties": {
          "resources": {
            "type": "object",
            "properties": {
              "core": { "$ref": "#/components/schemas/RateLimitResource" },
              "search": { "$ref": "#/components/schemas/RateLimitResource" },
              "graphql": { "$ref": "#/components/schemas/RateLimitResource" }
            },
            "required": ["core", "search", "graphql"]
          },
          "rate": { "$ref": "#/components/schemas/RateLimitResource" }
        },
        "required": ["resources", "rate"]
      },
      "RateLimitResource": {
        "type": "object",
        "properties": {
          "limit": { "type": "integer" },
          "remaining": { "type": "integer" },
          "reset": { "type": "integer", "description": "Unix timestamp when the rate limit resets" },
          "used": { "type": "integer" }
        },
        "required": ["limit", "remaining", "reset", "used"]
      }
    }
  }
}
